body{
    background-image:linear-gradient(to right, chocolate, burlywood);
}
#reservation-form{
    background-color: bisque;
    height: 250px;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    
}
.S1{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
